In [1]:
import pandas as pd
import joblib

In [2]:
model=joblib.load("Lightgbm")
df=pd.read_csv("Clean_Data.csv")
df.head()

,Location,Transmission,Mileage,Engine,Power,Seats,Price,Brand_Name,Car_Age
0,5.750,Manual,26.60,998,58.16,5,1.75,0.201196,11
1,4.250,Manual,19.67,1582,126.20,5,12.50,0.183918,6
2,4.500,Manual,18.20,1199,88.70,5,4.50,0.101013,10
3,4.500,Manual,20.77,1248,88.76,7,6.00,0.201196,9
4,8.305,Automatic,15.20,1968,140.80,5,17.74,0.039209,8

In [3]:
x=df.drop("Price",axis=1)
y=df.Price

In [4]:
model.score(x,y)

0.9380348979110521